// $button-warning: #f3ba2f;
$button-warning: #f5ae29;
$semi-bold: "Norpeth-DemiBold";
.height-fixer {
  overflow: hidden !important;
}
.hero-full-width-wrap {
  background-image: url(design/HeroImage/hero-main-bg.png);
  width: 100%;
  min-height: 1394px;
  // padding-bottom: 9.3%;
  position: relative;
  overflow: hidden;
}
.hero-bg-left::after {
  content: "";
  background-image: url(design/HeroImage/herobg-left.png);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 70%;
  background-repeat: no-repeat;
  background-size: cover;
  // z-index: 1;
}
.hero-bg-right::before {
  content: "";
  background-image: url(design/HeroImage/heroBgRight.png);
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.hero-area-wrap {
  position: relative;
  z-index: 999;
  &::after {
    content: "";
    position: absolute;
    background-image: url(design/HeroImage/stripes-left.svg);
    left: -15px;
    z-index: 9;
    width: 20%;
    height: 100%;
    background-repeat: no-repeat;
    top: 58%;
  }
  &::before {
    content: "";
    position: absolute;
    background-image: url(design/HeroImage/stripes-right.svg);
    right: -15px;
    z-index: 9;
    width: 15%;
    height: 100%;
    background-repeat: no-repeat;
    top: 10%;
    right: -15px;
  }

  .page-logo {
    padding-top: 100px;
    padding-bottom: 70px;
  }
  .hero-content {
    padding-bottom: 70px;
    p {
      color: #fff;
    }
  }
  .hero-content-image {
    p {
      color: #fff;
    }
    img {
      width: 100%;
      border-radius: 15px;
      margin-bottom: 30px;
    }
  }
  .hero-btn-main-wrap {
    background: #0a0a0a;
    background: #0a0a0a;
    padding: 20px 30px;
    border-radius: 15px;
    .hero-btn-left {
      span {
        color: #fff;
      }
      p {
        color: #fff;
        margin-bottom: 0;
        font-weight: 600;
        font-family: "Norpeth-DemiBold";
        font-size: 20px;
      }
    }
    .hero-btn-right {
      text-align: center;
      padding: 15px 0 0 0px;
      p {
        display: inline-block;
        color: #8f9ca3;
        font-size: 20px;
      }
      button {
        padding: 7px 20px;
        background: $button-warning;
        margin-left: 15px;
        outline: none;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        &:hover {
          background: #fff;
          color: $button-warning;
          transition: 0.5s;
          -webkit-transition: 0.5s;
          -moz-transition: 0.5s;
          -ms-transition: 0.5s;
          -o-transition: 0.5s;
        }
      }
    }
  }
}

// =============================
.support-platform-full-width {
  position: relative;
  img.support-bottom-shape {
    position: absolute;
    bottom: -21%;
    left: 0;
  }
  img.support-top-shape {
    position: absolute;
    right: 0;
    top: -156px;
  }
  .support-platform-wrap {
    position: relative;
    padding: 5% 0;
    &::after {
      content: "";
      position: absolute;
      background-image: url(design/HeroImage/support-top-dots.png);
      left: -40px;
      z-index: 9;
      width: 20%;
      height: 100%;
      background-repeat: no-repeat;
      top: -30px;
    }
    &::before {
      content: "";
      position: absolute;
      background-image: url(design/HeroImage/support-bottom.png);
      right: -15px;
      z-index: 9;
      width: 53%;
      height: 100%;
      background-repeat: no-repeat;
      bottom: -30%;
    }
    .support-platform-left {
      z-index: 99;
      position: relative;
      padding-top: 10%;
      .support-top {
        width: 50px;
        height: 50px;
        border: 1px solid #8f9ca3;
        padding: 0px;
        border-radius: 50%;
        text-align: center;
        line-height: 44px;
        margin-bottom: 30px;
        z-index: 1;
        img {
          width: 25px;
          height: 25px;
        }
      }
      .support-middle {
        h4 {
          font-size: 24px;
          margin-bottom: 15px;
          font-family: $semi-bold;
        }
      }
      .support-bottom {
        a {
          background: $button-warning;
          border: none;
          display: inline-block;
          padding: 7px 20px;
          margin-top: 15px;
          border: 1px solid transparent;
          transition: 0.5s;
          -webkit-transition: 0.5s;
          -moz-transition: 0.5s;
          -ms-transition: 0.5s;
          -o-transition: 0.5s;
          &:hover {
            background: #fff;
            color: $button-warning;
            border: 1px solid $button-warning;
            transition: 0.5s;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
          }
        }
        h4 {
          font-size: 24px;
          font-family: $semi-bold;
        }
      }
    }
    // -----------------
    .support-platform-right {
      padding-top: 15%;
      padding-left: 5%;
      img {
        width: 100%;
      }
    }
  }
}

// =============================
// =============================

.live-trading-full-width {
  background-image: url(design/HeroImage/live-trading-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1158px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 9;
  &::after {
    background-image: url(design/Section-2/section2-dotted-bg-left@2x.jpg);
    width: 37%;
    height: 60%;
    position: absolute;
    top: 156px;
    left: -70px;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: rotate(-5deg);
  }
  &::before {
    background-image: url(design/Section-2/section2-dotted-bg-right@2x.jpg);
    width: 37%;
    height: 60%;
    position: absolute;
    bottom: 156px;
    right: -70px;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: rotate(-5deg);
  }
  .row {
    .row {
      display: flex;
      align-items: center;
    }
  }
  .live-trading-left-top {
    img {
      margin-bottom: 20px;
      width: 78px;
    }
  }
  .live-trading-left-middle {
    h4 {
      font-size: 24px;
      color: #fff;
      margin-bottom: 30px;
      font-family: $semi-bold;
    }
    p {
      color: #fff;
      padding-right: 18%;
    }
  }
  .live-trading-left-bottom {
    h4 {
      color: #fff;
      font-size: 24px;
      margin-bottom: 20px;
      font-family: $semi-bold;
    }
    a {
      background: $button-warning;
      transition: 0.5s;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      &:hover {
        background: #fff;
        color: $button-warning;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
      }
    }
  }
  .live-trading-right {
    .live-trading-right-single-item {
      img {
        position: relative;
        width: 60px;
        left: -15px;
        margin-bottom: 10px;
      }
      h5 {
        color: #fff;
        position: relative;
        margin-bottom: 10px;
        font-size: 18px;
        font-family: $semi-bold;
        &::after {
          content: "";
          position: absolute;
          width: 2px;
          height: 85%;
          background: $button-warning;
          left: -10px;
          top: 8%;
        }
      }
      p {
        color: #fff;
      }
    }
  }
}
// =============================

.order-support-area-wrap {
  position: relative;
  // overflow: hidden;
  &::after {
    background-image: url(design/Section-3/section3-dotted-bg-left@2x.jpg);
    width: 30%;
    height: 60%;
    position: absolute;
    top: -50px;
    left: -70px;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    content: "";
  }
  &::before {
    background-image: url(design/Section-3/section3-dotted-bg-right@2x.jpg);
    width: 30%;
    height: 60%;
    position: absolute;
    bottom: -60px;
    right: -20px;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    content: "";
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
  }
  img.order-support-top-shape {
    position: absolute;
    top: -175px;
    right: 0;
  }
  img.order-support-bottom-shape {
    position: absolute;
    left: 0;
    bottom: -200px;
  }
  .order-support-logo {
    img {
      width: 78px;
      margin-bottom: 10px;
    }
  }
  .order-support-content {
    h4 {
      font-family: $semi-bold;
      margin-bottom: 10px;
      font-size: 24px;
    }
  }
  .order-support-image {
    img {
      width: 613px;
    }
  }
  .order-support-btn-wrap {
    width: 577px;
    border: 1px solid #d9e1eb;
    margin: auto;
    text-align: center;
    height: 81px;
    line-height: 81px;
    border-radius: 5px;
    a {
      display: inline-block;
      border: 1px solid #d9e1eb;
      padding: 7px 16px;
      border-radius: 25px;
      font-size: 14px;
      color: #313131;

      img {
        margin-right: 5px;
        width: 8px;
      }
    }
  }
  .order-support-bottom-btn-area {
    width: 600px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    h4 {
      font-size: 24px;
      font-family: $semi-bold;
    }
    a {
      background: $button-warning;
      color: #fff;
      padding: 10px 20px;
      font-size: 20px;
      border: 1px solid transparent;
      border-radius: 5px;
      text-decoration: none;
      transition: 0.5s;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      &:hover {
        background: #fff;
        color: $button-warning;
        border: 1px solid $button-warning;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
      }
    }
  }
}
// =============================
// =============================

.modeling-full-width-wrap {
  background-image: url(design/Section-4/modeling-bg-main.png);

  background-size: cover;
  background-position: center;
  display: table;
  padding: 12% 0% 13% 0%;

  .modeling-area-wrap {
    display: table-cell;
    vertical-align: middle;
    background-image: url(design/Section-4/section4-dotted-bg@2x.jpg);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-y: bottom;
    .modeling-logo {
      img {
        width: 78px;
        margin-bottom: 15px;
      }
    }
    .modeling-content {
      h4 {
        font-size: 24px;
        font-family: $semi-bold;
        margin-bottom: 15px;
        color: #fff;
      }
      p {
        color: #fff;
      }
    }

    .modeling-btn-main-wrap {
      h4 {
        color: #fff;
        font-size: 24px;
        font-family: $semi-bold;
        margin-bottom: 15px;
        line-height: 34px;
      }
      .modeling-item {
        p {
          color: #fff;
          margin-bottom: 25px;
        }
      }
      .modeling-bottom-btn {
        a {
          background: $button-warning;
          padding: 10px 20px;
          color: #fff;
          border-radius: 5px;
          margin-top: 20px;
          display: inline-block;
          text-decoration: none;
          transition: 0.5s;
          -webkit-transition: 0.5s;
          -moz-transition: 0.5s;
          -ms-transition: 0.5s;
          -o-transition: 0.5s;
          &:hover {
            background: #fff;
            color: $button-warning;
            transition: 0.5s;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
          }
        }
      }
    }
  }
}
// =============================
// =============================
.global-community-full-width {
  background: #f8f9fb;
  background: #f8f9fb;
  position: relative;
  top: -170px;
  .global-community-bottom-shap {
    position: absolute;
    right: 0;
    bottom: -160px;
  }
  .global-community-right-image {
    display: none;
  }
  .global-community-wrap {
    padding: 5% 0;
    overflow: hidden;
    padding-bottom: 0;
    .global-community-inner-wrap {
      position: relative;
      padding: 5% 0;
      &::after {
        content: "";
        background-image: url(design/Section-5/section5-graphic@2x.jpg);
        position: absolute;
        right: 0;
        width: 55%;
        height: 80%;
        top: 20%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      &:before {
        position: absolute;
        width: 100%;
        height: 1px;
        content: "";
        background: #d9e1eb;
        bottom: -15%;
      }
      .global-community-left-content {
        img {
          width: 78px;
          margin-bottom: 15px;
        }
        h4 {
          font-size: 24px;
          font-family: $semi-bold;
          margin-bottom: 15px;
        }
        p {
          margin-bottom: 25px;
        }
      }
      .global-community-box-items {
        position: relative;
        z-index: 1;
        width: 55%;
        text-align: center;
        .global-community-box-single-item {
          background: #fff;
          box-shadow: 0px 0px 15px 4px #e9edf4;
          padding: 25px 5px;
          border-radius: 10px;
          h4 {
            font-size: 24px;
            font-family: $semi-bold;
            margin-bottom: 5px;
          }
          p {
            margin-bottom: 0;
            font-size: 18px;
            line-height: 22px;
          }
        }
      }
    }
    .client-say-area {
      position: relative;
      padding: 10% 0;
      padding-bottom: 0;
      .grid.client-say-area-item {
        // display: grid;
        // grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
        // gap: 1vw;
        .client-say-single-item:nth-child(1) {
          width: 32%;
          float: left;
          margin-right: 1.3%;
          margin-bottom: 1.5%;
          box-shadow: 0px 0px 15px 4px #e9edf4;
          padding: 25px;
          border-radius: 10px;
        }
        .client-say-single-item:nth-child(2) {
          width: 32%;
          float: left;
          margin-right: 1.3%;
          margin-bottom: 1.5%;
          box-shadow: 0px 0px 15px 4px #e9edf4;
          padding: 25px;
          border-radius: 10px;
        }
        .client-say-single-item:nth-child(3) {
          width: 32%;
          float: left;
          margin-bottom: 1.5%;
          box-shadow: 0px 0px 15px 4px #e9edf4;
          padding: 25px;
          border-radius: 10px;
        }
        .client-say-single-item:nth-child(4) {
          width: 32%;
          float: left;
          margin-right: 1.3%;
          margin-bottom: 1.5%;
          box-shadow: 0px 0px 15px 4px #e9edf4;
          padding: 25px;
          border-radius: 10px;
        }
        .client-say-single-item:nth-child(5) {
          width: 32%;
          float: left;
          margin-right: 1.3%;
          margin-bottom: 1.5%;
          box-shadow: 0px 0px 15px 4px #e9edf4;
          padding: 25px;
          border-radius: 10px;
        }
        .client-say-single-item:nth-child(6) {
          width: 32%;
          float: left;
          margin-bottom: 1.5%;
          box-shadow: 0px 0px 15px 4px #e9edf4;
          padding: 25px;
          border-radius: 10px;
        }
        .client-say-single-item {
          .client-profile-area {
            display: flex;
            align-items: center;
            .profile-picture {
              img {
                width: 70px;
              }
            }
            .profile-content {
              padding-left: 10px;
              h5 {
                color: #f3ba2f;
                font-size: 16px;
                font-family: $semi-bold;
              }
              p {
                margin-bottom: 0;
                font-size: 16px;
              }
            }
          }
        }
      }
      .join-community-button {
        text-align: center;
        margin-top: 5%;
        h4 {
          font-family: $semi-bold;
          font-size: 24px;
        }
        a {
          background: $button-warning;
          color: #fff;
          padding: 10px 25px;
          display: inline-block;
          margin-top: 20px;
          text-decoration: none;
          border: 1px solid transparent;
          border-radius: 5px;
          transition: 0.5s;
          -webkit-transition: 0.5s;
          -moz-transition: 0.5s;
          -ms-transition: 0.5s;
          -o-transition: 0.5s;
          &:hover {
            background: #fff;
            color: $button-warning;
            border: 1px solid $button-warning;
            transition: 0.5s;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
          }
        }
      }
    }
  }
}

// =============================
.go-live-full-width-wrap {
  background-image: url(design/Section-6/section6-dotted-bg@2x.jpg);
  padding: 5% 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .page-logo {
    padding-bottom: 30px;
  }
  .go-live-content {
    p {
      color: #fff;
    }
  }
  .go-btn-main-wrap {
    background-image: url(design/Section-6/go-btn-bg.png);
    width: 775px;
    margin: auto;
    text-align: center;
    min-height: 415px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .go-btn-inner-wrap {
      .go-package-price {
        h4 {
          position: absolute;
          right: 12%;
          top: auto;
          color: #8f9ca3;
        }
      }
      h4 {
        font-size: 24px;
        font-family: $semi-bold;
        color: #fff;
        margin-bottom: 15px;
      }
      h3 {
        font-size: 32px;
        color: $button-warning;
        margin-bottom: 25px;
        font-family: $semi-bold;
      }
      p {
        color: #fff;
      }
      a {
        display: inline-block;
        padding: 10px 25px;
        background: $button-warning;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        &:hover {
          background: #fff;
          color: $button-warning;
          transition: 0.5s;
          -webkit-transition: 0.5s;
          -moz-transition: 0.5s;
          -ms-transition: 0.5s;
          -o-transition: 0.5s;
        }
      }
    }
  }
  .go-live-footer {
    img {
      width: 125px;
      margin: auto;
      padding-top: 20px;
      padding-bottom: 10px;
      display: inline-block;
    }
    p {
      color: #fff;
    }
  }
}

/***** responsive *****/
@media only screen and (max-width: 1440px) {
  .support-platform-full-width img.support-top-shape {
    top: -130px;
  }
  .support-platform-full-width img.support-bottom-shape {
    bottom: -144px;
  }
  .live-trading-full-width {
    height: 940px;
  }
  .live-trading-full-width::after {
    width: 40%;
    top: 127px;
  }
  .live-trading-full-width::before {
    width: 40%;
    bottom: 125px;
  }
  .modeling-full-width-wrap {
    padding: 12% 0% 18% 0%;
  }
  .global-community-full-width
    .global-community-wrap
    .global-community-inner-wrap::after {
    width: 55%;
    height: 62%;
    top: 20%;
  }
  .global-community-full-width
    .global-community-wrap
    .global-community-inner-wrap
    .global-community-box-items
    .global-community-box-single-item {
    padding: 25px 3px;
  }
  .global-community-full-width .global-community-bottom-shap {
    bottom: -170px;
  }
  .order-support-area-wrap {
    position: relative;
    overflow: unset;
  }
  .order-support-area-wrap img.order-support-top-shape {
    top: -143px;
  }
  .hero-area-wrap::after {
    left: -20px;
    width: 15%;
    height: 18%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero-area-wrap::before {
    width: 16%;
    height: 19%;
    top: 10%;
    right: -24px;
    background-size: cover;
    background-position: center;
  }
  .hero-area-wrap::after {
    top: 75%;
  }
}
@media only screen and (max-width: 1200px) {
  .hero-full-width-wrap {
    min-height: 1235px;
    position: relative;
    overflow: hidden;
    background-size: cover;
  }
  .hero-bg-left::after {
    bottom: 0px;
    width: 50%;
    height: 60%;
  }
  .hero-area-wrap .hero-content {
    padding-bottom: 70px;
    padding-left: 15%;
    padding-right: 15%;
  }
  .hero-area-wrap .hero-content-image img {
    width: 700px;
    border-radius: 15px;
    margin-bottom: 30px;
  }
  .hero-area-wrap .hero-btn-main-wrap {
    width: 700px;
    margin: auto;
  }
  .hero-area-wrap::after {
    width: 15%;
    height: 15%;
    top: 75%;
    background-size: cover;
  }
  .hero-area-wrap::before {
    width: 15%;
    height: 15%;
    top: 10%;
    right: -24px;
    background-size: cover;
    background-position: center;
  }
  .hero-area-wrap .page-logo {
    padding-top: 70px;
    padding-bottom: 30px;
  }
  .support-platform-full-width .support-platform-wrap::after {
    width: 50%;
  }
  .support-platform-full-width img.support-top-shape {
    top: -92px;
  }
  .support-platform-full-width img.support-bottom-shape {
    bottom: -124px;
  }
  .global-community-full-width
    .global-community-wrap
    .global-community-inner-wrap::after {
    height: 41%;
  }
  .live-trading-full-width .row .row {
    display: unset;
  }
  .support-middle p {
    font-size: 16px;
  }
  .live-trading-full-width .live-trading-left-middle p {
    padding-right: 5%;
    font-size: 16px;
    text-align: center;
  }
  .live-trading-full-width
    .live-trading-right
    .live-trading-right-single-item
    p {
    color: #fff;
    font-size: 16px;
  }
  .live-trading-full-width {
    height: 930px;
  }

  .live-trading-full-width::after {
    top: 115px;
  }
  .live-trading-full-width::before {
    width: 47%;
    bottom: 115px;
  }
  .order-support-area-wrap {
    position: relative;
    overflow: unset;
  }
  .order-support-area-wrap img.order-support-top-shape {
    top: -125px;
  }
  .order-support-area-wrap img.order-support-bottom-shape {
    bottom: -160px;
  }
  .global-community-full-width
    .global-community-wrap
    .global-community-inner-wrap
    .global-community-box-items {
    width: 84%;
  }
  .global-community-left-content {
    position: relative;
    z-index: 99;
  }
  .global-community-full-width .global-community-wrap .client-say-area {
    position: relative;
    padding: 15% 0;
    padding-bottom: 0;
  }
  .global-community-full-width
    .global-community-wrap
    .global-community-inner-wrap {
    position: relative;
    padding: 14% 0;
  }
  .client-say-single-item:nth-child(1) {
    width: 48% !important;
    margin-right: 2% !important;
    margin-bottom: 2% !important;
  }
  .client-say-single-item:nth-child(2) {
    width: 48% !important;
    margin-right: 0% !important;
    margin-bottom: 2% !important;
  }
  .client-say-single-item:nth-child(3) {
    width: 48% !important;
    margin-right: 2% !important;
    margin-bottom: 2% !important;
  }
  .client-say-single-item:nth-child(4) {
    width: 48% !important;
    margin-right: 0% !important;
    margin-bottom: 2% !important;
  }
  .client-say-single-item:nth-child(5) {
    width: 48% !important;
    margin-right: 2% !important;
    margin-bottom: 2% !important;
  }
  .client-say-single-item:nth-child(6) {
    width: 48% !important;
    margin-right: 0% !important;
    margin-bottom: 2% !important;
  }
  .modeling-full-width-wrap {
    padding: 12% 0% 18% 0%;
  }
  .global-community-full-width {
    top: -125px;
  }
  .global-community-full-width .global-community-bottom-shap {
    bottom: -125px;
  }
}
@media only screen and (max-width: 992px) {
  .hero-full-width-wrap {
    min-height: 1060px;
    position: relative;
    overflow: hidden;
    background-size: cover;
  }
  .hero-bg-left::after {
    bottom: 0px;
    width: 50%;
    height: 60%;
  }
  .hero-area-wrap .hero-content {
    padding-bottom: 70px;
    padding-left: 0%;
    padding-right: 0%;
    position: relative;
    z-index: 1;
  }
  .hero-area-wrap .hero-content-image img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 30px;
    position: relative;
    z-index: 99;
  }
  .hero-area-wrap .hero-btn-main-wrap .hero-btn-left span {
    color: #fff;
    font-size: 15px;
  }
  .hero-area-wrap .hero-btn-main-wrap {
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 99;
  }
  .hero-area-wrap::after {
    width: 14%;
    height: 16%;
    top: 75%;
    background-size: cover;
  }
  .hero-area-wrap::before {
    width: 14%;
    height: 16%;
    background-size: cover;
  }
  .hero-area-wrap .page-logo {
    padding-top: 70px;
    padding-bottom: 30px;
  }
  .support-platform-full-width .support-platform-wrap::after {
    width: 50%;
  }
  .support-platform-full-width img.support-top-shape {
    top: -70px;
  }
  .support-platform-full-width img.support-bottom-shape {
    position: absolute;
    bottom: -133px;
    left: 0;
  }
  .live-trading-left {
    margin-bottom: 15px;
  }
  .live-trading-full-width .row .row {
    display: unset;
  }
  .support-middle p {
    font-size: 16px;
  }
  .live-trading-full-width .live-trading-left-middle p {
    padding-right: 5%;
    font-size: 16px;
  }
  .live-trading-full-width
    .live-trading-right
    .live-trading-right-single-item
    p {
    color: #fff;
    font-size: 16px;
  }
  .live-trading-full-width {
    height: 1160px;
  }

  .live-trading-full-width::after {
    top: 131px;
  }
  .live-trading-full-width::before {
    width: 63%;
    bottom: 122px;
  }
  .order-support-area-wrap {
    position: relative;
    overflow: unset;
  }
  .order-support-area-wrap img.order-support-top-shape {
    top: -140px;
  }
  .order-support-area-wrap img.order-support-bottom-shape {
    bottom: -176px;
  }
  .global-community-full-width
    .global-community-wrap
    .global-community-inner-wrap
    .global-community-box-items {
    width: 100%;
    margin-top: 2%;
  }
  .global-community-left-content {
    position: relative;
    z-index: 99;
  }
  .global-community-box-single-item {
    margin-bottom: 25px;
  }
  .global-community-full-width .global-community-wrap .client-say-area {
    position: relative;
    padding: 15% 0;
    padding-bottom: 0;
  }
  .client-say-single-item:nth-child(1) {
    width: 48% !important;
    margin-right: 2% !important;
    margin-bottom: 2% !important;
  }
  .client-say-single-item:nth-child(2) {
    width: 48% !important;
    margin-right: 0% !important;
    margin-bottom: 2% !important;
  }
  .client-say-single-item:nth-child(3) {
    width: 48% !important;
    margin-right: 2% !important;
    margin-bottom: 2% !important;
  }
  .client-say-single-item:nth-child(4) {
    width: 48% !important;
    margin-right: 0% !important;
    margin-bottom: 2% !important;
  }
  .client-say-single-item:nth-child(5) {
    width: 48% !important;
    margin-right: 2% !important;
    margin-bottom: 2% !important;
  }
  .client-say-single-item:nth-child(6) {
    width: 48% !important;
    margin-right: 0% !important;
    margin-bottom: 2% !important;
  }
  .modeling-full-width-wrap {
    padding: 20% 0% 30% 0%;
  }
  .global-community-full-width {
    top: -125px;
  }
  .global-community-full-width .global-community-bottom-shap {
    bottom: -125px;
  }
  .global-community-full-width
    .global-community-wrap
    .global-community-inner-wrap {
    text-align: center;
  }
  .global-community-full-width
    .global-community-wrap
    .global-community-inner-wrap::after {
    width: 100%;
    height: 60%;
    background: unset;
  }
  .global-community-full-width
    .global-community-wrap
    .global-community-inner-wrap:before {
    position: absolute;
    width: 100%;
    height: 1px;
    content: "";
    background: #d9e1eb;
    bottom: 0;
    left: 0;
  }
  .global-community-full-width .global-community-right-image {
    display: block;
  }
  .global-community-right-image img {
    width: 100%;
    display: block;
  }
  .global-community-full-width
    .global-community-wrap
    .global-community-inner-wrap
    .global-community-left-content
    p {
    text-align: center;
  }
  .support-platform-full-width .support-platform-wrap .support-platform-left {
    text-align: center;
  }
  .support-platform-full-width
    .support-platform-wrap
    .support-platform-left
    .support-top {
    margin: 20px auto;
  }
  .support-middle p {
    text-align: center;
  }
  .support-platform-full-width .support-platform-wrap::before {
    display: none;
  }
  .live-trading-left {
    text-align: center;
  }
  .live-trading-right-single-item {
    display: flex;
    align-items: center;
  }
}

@media only screen and (min-width: 1921px) and (max-width: 4440px) {
  .hero-full-width-wrap {
    background-image: url(design/HeroImage/hero-main-bg.png);
    width: 100%;
    min-height: 1975px;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .support-platform-full-width img.support-top-shape {
    top: -226px;
  }
  .hero-area-wrap::before {
    right: -133px;
  }
  .live-trading-full-width {
    height: 1600px;
  }
  .support-platform-full-width .support-platform-wrap::before {
    right: -18%;
    width: 53%;
    bottom: -52%;
  }
  .live-trading-full-width::after {
    top: 216px;
  }
  .live-trading-full-width::before {
    bottom: 216px;
  }
  .modeling-full-width-wrap {
    height: 1600px;
  }
  .global-community-full-width {
    top: -260px;
  }
  .global-community-full-width .global-community-wrap {
    padding: 0% 0;
    overflow: hidden;
    padding-bottom: 0;
  }
  .global-community-full-width
    .global-community-wrap
    .global-community-inner-wrap {
    padding: 8% 0;
  }
  .global-community-full-width .global-community-bottom-shap {
    bottom: -260px;
  }
  .order-support-area-wrap {
    overflow: unset;
  }
  .support-platform-full-width img.support-bottom-shape {
    bottom: -19%;
  }
  .order-support-area-wrap img.order-support-top-shape {
    top: -250px;
  }
  .order-support-area-wrap img.order-support-bottom-shape {
    bottom: -256px;
  }
  .hero-area-wrap::after {
    top: 75%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 770px) {
  .global-community-full-width {
    top: -152px;
  }
  .go-live-full-width-wrap .go-btn-main-wrap {
    width: 100%;
  }
  .global-community-full-width .global-community-bottom-shap {
    bottom: -150px;
  }
  .order-support-area-wrap img.order-support-bottom-shape {
    bottom: -183px;
  }
  .hero-area-wrap .hero-content {
    position: relative;
    z-index: 99;
  }
}

@media only screen and (min-width: 401px) and (max-width: 575px) {
  .global-community-full-width {
    top: -152px;
  }
  .go-live-full-width-wrap .go-btn-main-wrap {
    width: 100%;
  }
  .global-community-full-width .global-community-bottom-shap {
    bottom: -150px;
  }
  .order-support-area-wrap img.order-support-bottom-shape {
    bottom: -183px;
  }
  .hero-area-wrap .page-logo {
    padding-top: 40px;
    padding-bottom: 25px;
  }
  .hero-area-wrap .hero-content {
    position: relative;
    z-index: 99;
  }
  .hero-area-wrap .hero-btn-main-wrap .hero-btn-right button {
    padding: 7px 10px;
    background: #f3ba2f;
    margin-left: 4px;
    outline: none;
  }
  .hero-area-wrap .hero-btn-main-wrap .hero-btn-right p {
    display: inline-block;
    color: #8f9ca3;
    font-size: 20px;
    margin-bottom: 0;
  }
  .hero-area-wrap::before {
    display: none;
  }
  .hero-area-wrap::after {
    display: none;
  }
  .hero-area-wrap .hero-btn-main-wrap {
    padding: 15px 15px;
    border-radius: 15px;
  }
  .support-platform-full-width .support-platform-wrap::after {
    width: 100%;
  }
  .support-platform-full-width img.support-top-shape {
    top: -39px;
    z-index: 99;
  }
  .live-trading-full-width {
    min-height: 1520px;
  }
  .live-trading-full-width::after {
    top: 144px;
    width: 100%;
    height: 35%;
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }
  .live-trading-full-width::before {
    width: 100%;
    bottom: 137px;
    height: 33%;
  }
  .order-support-area-wrap img.order-support-top-shape {
    top: -150px;
  }
  .order-support-area-wrap img.order-support-bottom-shape {
    bottom: -170px;
  }
  .order-support-area-wrap .order-support-image img {
    width: 100%;
  }
  .order-support-area-wrap .order-support-btn-wrap {
    width: 100%;
    height: auto;
    line-height: unset;
    padding: 10px;
  }
  .order-support-area-wrap .order-support-bottom-btn-area {
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .order-support-area-wrap .order-support-bottom-btn-area h4 {
    font-size: 16px;
  }
  .modeling-content-image img {
    width: 100%;
  }
  .order-support-area-wrap .order-support-bottom-btn-area a {
    background: #f3ba2f;
    color: #fff;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 5px;
  }
  .modeling-full-width-wrap {
    padding: 34% 0% 46% 0%;
  }
  .client-say-single-item:nth-child(1) {
    width: 100% !important;
    margin-right: 0% !important;
  }
  .client-say-single-item:nth-child(2) {
    width: 100% !important;
    margin-right: 0% !important;
  }
  .client-say-single-item:nth-child(3) {
    width: 100% !important;
    margin-right: 0% !important;
  }
  .client-say-single-item:nth-child(4) {
    width: 100% !important;
    margin-right: 0% !important;
  }
  .client-say-single-item:nth-child(5) {
    width: 100% !important;
    margin-right: 0% !important;
  }
  .client-say-single-item:nth-child(6) {
    width: 100% !important;
    margin-right: 0% !important;
  }
  .support-platform-full-width img.support-bottom-shape {
    bottom: -150px;
  }
  .order-support-area-wrap .order-support-btn-wrap a {
    padding: 7px 16px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .go-live-full-width-wrap .go-btn-main-wrap .go-btn-inner-wrap h4 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 400px) {
  .global-community-full-width {
    top: -122px;
  }
  .order-support-area-wrap .order-support-btn-wrap a {
    padding: 7px 16px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .support-platform-full-width img.support-bottom-shape {
    bottom: -142px;
  }
  .modeling-full-width-wrap {
    padding: 34% 0% 46% 0%;
  }
  .client-say-single-item:nth-child(1) {
    width: 100% !important;
    margin-right: 0% !important;
  }
  .client-say-single-item:nth-child(2) {
    width: 100% !important;
    margin-right: 0% !important;
  }
  .client-say-single-item:nth-child(3) {
    width: 100% !important;
    margin-right: 0% !important;
  }
  .client-say-single-item:nth-child(4) {
    width: 100% !important;
    margin-right: 0% !important;
  }
  .client-say-single-item:nth-child(5) {
    width: 100% !important;
    margin-right: 0% !important;
  }
  .client-say-single-item:nth-child(6) {
    width: 100% !important;
    margin-right: 0% !important;
  }
  .order-support-area-wrap .order-support-bottom-btn-area a {
    padding: 10px 7px;
    font-size: 13px;
  }
  .modeling-content-image img {
    width: 100%;
  }
  .order-support-area-wrap .order-support-bottom-btn-area h4 {
    font-size: 13px;
  }
  .order-support-area-wrap .order-support-bottom-btn-area {
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .order-support-area-wrap .order-support-btn-wrap {
    width: 100%;
    height: auto;
    line-height: unset;
    padding: 10px;
  }
  .order-support-area-wrap .order-support-image img {
    width: 100%;
  }
  .hero-area-wrap .hero-content p {
    color: #fff;
    font-size: 14px;
  }
  .hero-btn-main-wrap .row .col-xs-8 {
    width: 100%;
  }
  .hero-btn-left {
    text-align: center;
  }
  .hero-btn-left p {
    text-align: center;
  }
  .hero-full-width-wrap {
    min-height: 870px;
  }
  .hero-btn-main-wrap .row .col-xs-4 {
    width: 100%;
  }
  .go-live-full-width-wrap .go-btn-main-wrap {
    width: 100%;
    padding: 0 0;
  }
  .global-community-full-width .global-community-bottom-shap {
    bottom: -122px;
  }
  .order-support-area-wrap img.order-support-bottom-shape {
    bottom: -183px;
  }
  .hero-area-wrap .page-logo {
    padding-top: 40px;
    padding-bottom: 25px;
  }
  .page-logo.text-center img {
    width: 210px;
  }
  .hero-area-wrap .hero-content {
    position: relative;
    z-index: 99;
  }
  .hero-area-wrap .hero-btn-main-wrap .hero-btn-right button {
    padding: 7px 10px;
    background: #f3ba2f;
    margin-left: 4px;
    outline: none;
  }
  .hero-area-wrap .hero-btn-main-wrap .hero-btn-right p {
    display: block;
    color: #8f9ca3;
    font-size: 20px;
    margin-bottom: 0;
    text-align: center;
  }
  .hero-area-wrap::before {
    display: none;
  }
  .hero-area-wrap::after {
    display: none;
  }
  .hero-area-wrap .hero-btn-main-wrap {
    padding: 15px 15px;
    border-radius: 15px;
  }
  .support-platform-full-width .support-platform-wrap::after {
    width: 100%;
  }
  .support-platform-full-width img.support-top-shape {
    top: -30px;
    z-index: 99;
  }
  .live-trading-full-width {
    min-height: 1520px;
  }
  .live-trading-full-width::after {
    top: 144px;
    width: 100%;
    height: 35%;
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }
  .live-trading-full-width::before {
    width: 100%;
    bottom: 137px;
    height: 33%;
  }
  .order-support-area-wrap img.order-support-top-shape {
    top: -144px;
  }
  .order-support-area-wrap img.order-support-bottom-shape {
    bottom: -150px;
  }
  .go-live-full-width-wrap .go-btn-main-wrap .go-btn-inner-wrap h4 {
    font-size: 16px;
  }
  .go-live-full-width-wrap .go-btn-main-wrap .go-btn-inner-wrap h4 {
    font-size: 16px;
  }
  .go-live-full-width-wrap
    .go-btn-main-wrap
    .go-btn-inner-wrap
    .go-package-price
    h4 {
    position: absolute;
    right: 12%;
    top: auto;
    color: #8f9ca3;
  }
}

/***** End responsive *****/
